@use "variables" as *;
@use "mixins" as *;


.boton,
.btn-personalizado,
.boton-ver-mas {
    @include boton;
}

.ver-mas-contenedor {
    @include flex-center;
    margin-top: $espaciado-lg;
}

.boton-ver-mas {
    min-width: 200px;
    border-color: $color-secundario;
    background-color: $color-principal;

    &:hover {
        background-color: $color-secundario;
        color: $color-negro;
    }

    &--oculto {
        display: none;
    }
}

.btn-secundario {
    @include boton(transparent, $color-secundario);
    border-color: $color-secundario;

    &:hover {
        color: $color-negro;
        background-color: $color-secundario;
    }
}

.btn-eliminar {
    @include boton($color-error, $color-blanco);
    padding: 8px 14px;
}