@use "variables" as *;


footer {
    margin-top: $espaciado-xl;
    padding: $espaciado-lg $espaciado-md;
    border-top: 2px solid rgba($color-secundario, 0.4);
    background-color: rgba($color-fondo, 0.97);
    text-align: center;

    p {
        margin: 0;
        color: $color-texto-secundario;
    }

    a {
        color: $color-secundario;

        &:hover {
            text-decoration: underline;
        }
    }
}