@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin grid-columnas($cantidad, $gap: 30px) {
    display: grid;
    grid-template-columns: repeat($cantidad, 1fr);
    gap: $gap;
}

@mixin mobile {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 992px) {
        @content;
    }
}