// Colores generales

$color-blanco: #ffffff;
$color-negro: #111111;

$color-header: #00331e;
$color-header-hover: #002715;
$color-verde-principal: #40916c;
$color-verde-claro: #52b788;

$color-texto-claro: #dddddd;
$color-card: #222222;


// Bordes

$radio-pequeno: 8px;
$radio-medio: 15px;
$radio-grande: 18px;


// Transiciones

$transicion-rapida: 0.25s ease;
$transicion-normal: 0.3s ease;
$transicion-lenta: 0.8s ease;


// Tamaños responsive

$mobile: 576px;
$tablet: 992px;
$desktop-pequeno: 1100px;